header{
    background-color: black;
    color: salmon; 
    font-family: Arial, Helvetica, sans-serif;
}
main{
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: xx-large;
    font-weight:900;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    font-style: italic;
}
nav{
    font-size: 14px;
    background-color: salmon;
    padding: 10px;
}
nav a{
    padding: 5px;
}
main{
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin: 20px;
    font-size: large;
    font-weight: bold;
}
main p{
    color: gray;
    padding-left: 5px;
    padding-left: 50px;
}
.heroImg{
    padding: 40px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid gray;
}
footer p{
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
main{
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    padding-left: 50px;
    color: grey;
    list-style: none;
}
section{
    padding-top: 30px;
}
#sales-table{
    display: flex;
    justify-content: space-around;
}
#storeFormSection{
    display: flex;
    justify-content: space-around;
}
table {
    font-size: 12px;
    border-collapse: collapse;
    width: 80%;
}
td, th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
thead{
    font-weight: bold;
    background-color: gray;
    color: white;
}
tbody{
    background-color: salmon;
}
th{
    border: none;
}
tbody :last-child{
    font-weight: bold;
    background-color: gray;
    border: none;
    color: white;
}
tbody> tr > td:first-child{
    text-align: left;
}
tbody> tr:last-child> td{
    text-align: center;
    border: none;
    color: white;
}
fieldset{
    border: solid 1px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
label{
    font-size: 12px;
    font-weight: bold;
}
input{
    max-width: 8%;
}
button{
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: solid thin;
    padding-left: 3px;
    padding-right: 3px;
}
legend{
    font-weight: bold;
    color: red;
}